/* The global css file is not included here, 
It has Roboto font

*/
* {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.app-container {
  font-family: "Roboto", sans-serif;
  background-color: #fafafade;
  color: #2a2a2a;
}
/* ---------------------------------- */
/* ---------------------------------- */
/* Navigation */
/* ---------------------------------- */
/* ---------------------------------- */

.navbar {
  max-width: 122rem;
  padding: 0 2rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar__logo {
  height: 9.2rem;
}
@media only screen and (max-width: 850px) {
  .navbar__logo {
    height: 8rem;
  }
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
@media only screen and (max-width: 850px) {
  .navigation {
    display: none;
  }
}
.navigation__item:not(:last-of-type) {
  margin-right: 5rem;
}
.navigation__link {
  color: #2a2a2a;
  text-decoration: none;
  font-size: 2rem;
}
.navigation__help {
  max-width: 15rem;
}

/* header {
  background-color: #2a2a2a;
}

.navbar {
  max-width: 110rem;
  padding: 0 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__logo {
  height: 11rem;
}
@media only screen and (max-width: 850px) {
  .navbar__logo {
    height: 8rem;
  }
} */

/* Appointment section */
.appointment {
  text-align: center;
  padding: 3rem 2.7rem;
}

.appointment__title,
.appointment__title2 {
  font-weight: 700;
  font-size: 3.4rem;
  margin-bottom: 3rem;
}

.appointment__title2 {
  font-size: 2.5rem;
}

.appointment__passage {
  font-weight: 400;
  max-width: 85rem;
  font-size: 2.9em;
  word-spacing: 2px;
  margin: auto;
  margin-bottom: 3rem;
}

.appointment__span {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #ff5e3a;
  color: #ff5e3a;
}

.appointment__subtitle {
  font-weight: 400;
  font-size: 2.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.appointment__video {
  max-width: 90rem;
  margin: auto;
  width: 100%;
  margin-bottom: 3rem;
}

.appointment__passage1 {
  font-weight: 400;
  font-size: 3.5rem;
  word-spacing: 2px;
  text-align: left;
  max-width: 90rem;
  margin: auto;
  margin-bottom: 3rem;
  text-align: center;
}

.appointment__span2 {
  font-weight: 700;
  font-size: 3.3rem;
  margin-bottom: 3rem;
}

.appointment__arrow {
  width: 4rem;
  margin-bottom: 3rem;
}

.appointment__btn {
  background-color: #ff5e3a;
  display: inline-block;
  padding: 1.6rem 3.4rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  margin: 2rem 0rem;
  border-radius: 5px;
}

.appointment__btn-top {
  font-weight: 500;
  font-size: 2.7rem;
  margin-bottom: 0.2rem;
}

.appointment__btn-bottom {
  font-weight: 400;
  font-size: 1rem;
}

.appointment__bottom {
  font-weight: 400;
  font-size: 1.5rem;
  color: #707070;
  margin-bottom: 3rem;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* Testimonialls Section */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
.testimonialls {
  text-align: center;
  background-color: #fff;
  padding: 3rem 2.7rem;
}

.testimonialls__title {
  font-size: 3.2rem;
  max-width: 85rem;
  margin: 0rem auto 3rem auto;
}

.testimonialls__title-Width {
  max-width: 70rem;
  text-align: left;
}

.testimonialls__user {
  font-weight: 700;
  font-size: 2.5rem;
}

.testimonialls__Subtitle {
  font-weight: 700;
  max-width: 80rem;
  margin: 0rem auto 3rem auto;
  font-size: 2rem;
  margin-bottom: 6rem;
  text-align: center;
}

.testimonialls__passage {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0rem auto 1.5rem auto;
  text-align: center;
  max-width: 83rem;
}

.pt {
  padding-top: 2rem;
}

.testimonialls__Subpassage {
  font-weight: 400;
  font-size: 2.4rem;
  margin: 1rem auto 1.5rem auto;
  max-width: 70rem;
  text-align: left;
}

.testmoniall__img {
  max-width: 70rem;
  margin: auto;
  margin-bottom: 2rem;
}

.testmoniall__img > img {
  box-shadow: 0 0 10px rgb(211, 208, 208);
  width: 100%;
  height: 100%;
}

.testimonialls__PS {
  font-size: 2rem;
}

.avatar,
.signature {
  max-width: 70rem;
  text-align: left;
  margin: 0rem auto 1.5rem auto;
}

.avatar > img {
  width: 20rem;
}

.signature > img {
  width: 23rem;
  margin-bottom: 2rem;
}

#sssss {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* Footer styling */
/* ---------------------------------- */
/* ---------------------------------- */
.footer {
  background-color: #2a2a2a;
  padding: 1.4rem 2.7rem;
}

.footer__title {
  font-weight: 400;
  font-size: 1.3rem;
  color: white;
  text-align: center;
}

/* ---------------------------------- */
/* Arrow Animation */
/* ---------------------------------- */

.parent {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem;
}

.arrow-container {
  width: 30px;
  /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
  animation: bounce 1100ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
}

.arrow-down {
  height: 6px;
  background: rgb(109, 106, 106);
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;
}
.arrow-down:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: rgb(109, 106, 106);
  /* background: black; */
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}

/* ---------------------------------- */
/* ---------------------------------- */
/*Responsive Design */
/* ---------------------------------- */
/* ---------------------------------- */
@media only screen and (max-width: 576px) {
  .appointment__title,
  .appointment__title2 {
    font-size: 2.4rem;
  }

  .appointment__title2 {
    font-size: 2rem;
  }

  .appointment__passage {
    font-size: 2rem;
    word-spacing: 0px;
  }

  .appointment__subtitle {
    font-size: 2rem;
  }

  .appointment__passage1 {
    font-size: 2rem;
    word-spacing: 0px;
  }

  .appointment__span2 {
    font-size: 2rem;
  }

  .appointment__btn {
    padding: 1.3rem 2.5rem;
  }

  .appointment__btn-top {
    font-size: 2.1rem;
  }
  .appointment__btn-bottom {
    font-size: 1rem;
  }

  .appointment__bottom {
    font-size: 1.2rem;
  }

  /* --------------------- */
  /* --------------------- */
  /* ----Testimonialls Section---- */
  /* --------------------- */
  /* --------------------- */
  /* --------------------- */
  .testimonialls__title {
    font-size: 2.4rem;
  }

  .testimonialls__user {
    font-size: 2rem;
  }

  .testimonialls__Subtitle {
    font-size: 1.8rem;
  }

  .testimonialls__passage {
    font-size: 2rem;
  }

  .pt {
    padding-top: 2rem;
  }

  .testimonialls__Subpassage {
    font-size: 2rem;
  }

  .avatar,
  .signature {
    max-width: 70rem;
    text-align: left;
    margin: 0rem auto 1.5rem auto;
  }

  .avatar > img {
    width: 15rem;
  }

  .signature > img {
    width: 17rem;
  }

  #talk__soon {
    font-size: 2rem;
  }
}

.support {
  text-align: center;
  background-color: #fff;
  font-size: 1.3rem;
  margin-bottom: -7px;
}
