@import url(./_global.css);

:root {
  --success-color: limegreen;
  --error-color: orangered;
}
/* Header */
.header {
  background: url(/img/Instagram-Growth-Services.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.65;
}

.header h1,
.header p {
  color: white;
}

.header h1 {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.header__content {
  max-width: 100rem;
  margin: auto;
  z-index: 10;
}

@media only screen and (max-width: 992px) {
  .header__content {
    padding: 0rem 2rem;
  }
  .header h1 {
    margin-top: 3rem;
    margin-bottom: 0rem;
  }
}

/* Purchase Section */
.form-section {
  max-width: 115rem;
  padding: 6rem 3rem;
  margin: 0rem auto;
}

.form__subtitle {
  text-align: center;
  font-size: 3.4rem;
  max-width: 60rem;
  margin: auto;
}

.form__paragraph {
  max-width: 70rem;
  margin: auto;
  margin-top: 6rem;
  text-align: left;
}

/* form */
.form-container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
  background-color: white;
  border-radius: 8px;
}

@media (min-width: 576px) {
  .form-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .form-container {
    max-width: 70rem;
  }
}

/* Form Control */
.form {
  padding: 2rem 2rem;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control label p {
  color: #2a2a2a;
  font-size: 1.5rem;
}

.form-control input,
.form-control textarea {
  border: 2px solid lightgray;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: 0;
  border-color: gray;
}

.form-control.success input,
.form-control.success textarea {
  border-color: var(--success-color);
}

.form-control.error input,
.form-control.error textarea {
  border-color: var(--error-color);
}

.form-control small {
  font-size: 1.24rem;
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form-btn {
  font-family: ridley_grotesksemibold, sans-serif !important;
  cursor: pointer;
  background-color: #157cfc;
  border: 2px solid #157cfc;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 20px;
}

.uploadcare--widget__button_type_open {
  font-family: ridley_grotesksemibold, sans-serif !important;
  font-size: 16px;
}

.uploadcare--widget__button_type_open:hover {
  font-family: ridley_grotesksemibold, sans-serif !important;
  font-size: 16px;
}

.uploadcare--widget__button_type_open:focus {
  font-family: ridley_grotesksemibold, sans-serif !important;
  font-size: 16px;
}

/* .uploadcare--widget {
  width: 50%;
}

.uploadcare--widget__button {
  width: 100%;
  height: 50px;
  padding: 1em;
  font-family: Poppins;
  letter-spacing: 1px;
  background: #26c79a;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.uploadcare--widget__button:hover {
  background: #30e9b5;
  font-family: Poppins;
  text-align: center;
  font-weight: 500;
  color: white;
} */
/* .uploadcare--widget__button,
.uploadcare--widget__button_type_open,
.uploadcare--widget__button_type_cancel,
.uploadcare--widget__button_type_remove {
} */
