@import url(./_global.css);

/* /////////////////////////////////////// */
/* GLOBAL STYLING */
/* /////////////////////////////////////// */
.section {
  padding: 0rem 3rem;
  padding-bottom: 6rem;
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 6rem 2rem;
  }
}

/* /////////////////////////////////////// */
/* PRICING SECTION */
/* /////////////////////////////////////// */
.pricing__top {
  text-align: left;
  max-width: 115rem;
  padding: 0rem 3rem;
  padding-top: 6rem;
  margin: 0rem auto;
}

.pricing {
  text-align: center;
}
.pricing__title {
  border-radius: 3px;
  padding: 0.7rem 0.7rem;
  background-color: #f0684a;
  display: inline-block;
}
.pricing__subtitle {
  max-width: 45%;
  margin: 1.5rem auto 0 auto;
}
@media only screen and (max-width: 1008px) {
  .pricing__subtitle {
    max-width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .pricing__subtitle {
    max-width: 97%;
  }
}
.pricing__grid {
  max-width: 110rem;
  margin: auto;
  margin-top: 6rem;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
}
@media only screen and (max-width: 800px) {
  .pricing__grid {
    text-align: center;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
.pricing__item {
  padding: 4rem 2rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 6px #888;
  box-shadow: 0 0 6px #888;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pricing__item > * {
  margin-bottom: 0.7rem;
}
.pricing__item:hover {
  -webkit-box-shadow: 0 0 19px #888;
  box-shadow: 0 0 19px #888;
}
.pricing__Plus {
  background-color: #f1eeedb4;
}
.pricing__pricing {
  font-size: 5.5rem;
  margin-bottom: 1rem;
}
.pricing__monthly {
  border-radius: 4px;
  font-size: 1.4rem;
  color: #fff;
  display: inline-block;
  background-color: #2a2a2a;
  padding: 0.4rem 0.5rem;
}
.pricing__weekly:after {
  content: " ";
  display: block;
  height: 0.2rem;
  width: 4rem;
  background-color: #2a2a2a;
  margin-top: 3.2rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 800px) {
  .pricing__weekly:after {
    margin: auto;
    margin-top: 2rem;
  }
}

/* Footer Section */
.footer {
  margin-top: 15rem;
  padding: 1.4rem 2rem 1.4rem 2rem;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 115rem;
  margin: auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid #8a8888;
}

.footer__policies {
  display: flex;
}

.footer p {
  color: #2a2a2a;
}

.footer__terms {
  margin: 1rem 1rem;
  font-family: ridley_groteskmedium;
  font-size: 1.2rem;
}

.footer__terms a {
  text-decoration: none;
  color: #2a2a2a;
}

/* Used */
.footer__rights {
  text-align: center;
  font-family: ridley_groteskregular;
  font-size: 1.2rem;
  margin-top: 1.4rem;
}

.footer__help {
  font-family: ridley_groteskregular;
  font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
  .footer__top {
    flex-direction: column;
  }
  .footer__terms {
    margin: 1rem 0.5rem;
    font-size: 1.2rem;
  }
}
