@import url(./_global.css);
/* /////////////////////////////////////// */
/* PRIVACY POLICY */
/* /////////////////////////////////////// */
.refund {
  text-align: left;
  max-width: 115rem;
  padding: 0rem 3rem;
  padding-top: 6rem;
  margin: 0rem auto;
}

.refund__title {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

.refund__paragraph {
  font-family: "ridley_groteskmedium";
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
