@import url(./_global.css);

/* /////////////////////////////////////// */
/* GLOBAL STYLING */
/* /////////////////////////////////////// */
.section {
  padding: 6rem 3rem;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 6rem 2rem;
  }
}
/* added code */
body {
  background-color: #fff;
}

/* /////////////////////////////////////// */
/* Examples Features*/
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
.features {
  text-align: center;
}

.features__subtitle {
  font-size: 3.3rem;
  color: #2a2a2a;
  margin-bottom: 4rem;
  text-align: left;
}
.features__subtitle:after {
  content: " ";
  display: block;
  height: 0.4rem;
  background-color: #f0684a;
  width: 4.6rem;
  margin-top: 2.3rem;
}

.features__left-paragraph {
  font-family: ridley_grotesksemibold, sans-serif;
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-top: -1.2rem;
}

.features__grid {
  max-width: 110rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 3rem;
}

@media only screen and (max-width: 970px) {
  .features__grid {
    grid-gap: 0rem;
    margin: 0rem 2rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.features__content {
  padding-top: 3.2rem;
  padding-right: 2.3rem;
}

.features__paragraph {
  color: #2a2a2a;
  font-size: 1.6rem;
}

.features__subParagraph {
  margin-top: 1.3rem;
  font-size: 1.3rem;
  line-height: 1.6;
  font-family: ridley_groteskregular;
}

.features__item {
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  padding: 3rem 2.5rem;
  box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 6%);
  margin-bottom: 2rem;
}

.features__spColor {
  color: #b2b2b2;
  text-align: left;
  font-size: 1.6rem;
  margin-bottom: 2.7rem;
}
/* /////////////////////////////////////// */
/* Examples Images */
/* /////////////////////////////////////// */
/* Portfolio Section */
.portfolio {
  text-align: center;
}

.portfolio__content {
  max-width: 113.5rem;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .portfolio__content {
    padding: 0rem 1.5rem;
  }
}

.portfolio__subtitle {
  font-size: 3.3rem;
  color: #2a2a2a;
  margin-bottom: 3rem;
  text-align: left;
}

.porfolio__Paragraph {
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 3rem;
  font-family: ridley_groteskregular;
}

@media screen and (max-width: 767px) {
  .portfolio__content {
    padding: 0rem 1.5rem;
  }
}

.portfolio__container {
  max-width: 117rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .portfolio__container {
    flex-direction: column;
  }
}

.portfolio__col {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

@media screen and (max-width: 767px) {
  .portfolio__col {
    margin-left: 4%;
    margin-right: 4%;
  }
}

.portfolio__col > img {
  width: 100%;
  display: block;
  margin-bottom: 4rem;
  border: 1px solid #eaeaea;
}

/* Footer Section */
.footer {
  margin-top: 15rem;
  padding: 1.4rem 2rem 1.4rem 2rem;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 115rem;
  margin: auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid #8a8888;
}

.footer__policies {
  display: flex;
}

.footer p {
  color: #2a2a2a;
}

.footer__terms {
  margin: 1rem 1rem;
  font-family: ridley_groteskmedium;
  font-size: 1.2rem;
}

.footer__terms a {
  text-decoration: none;
  color: #2a2a2a;
}

/* Used */
.footer__rights {
  text-align: center;
  font-family: ridley_groteskregular;
  font-size: 1.2rem;
  margin-top: 1.4rem;
}

.footer__help {
  font-family: ridley_groteskregular;
  font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
  .footer__top {
    flex-direction: column;
  }
  .footer__terms {
    margin: 1rem 0.5rem;
    font-size: 1.2rem;
  }
}
