* {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Solved this by increase iframe height. 
 */
.calendly-inline-widget {
  min-height: 1050px !important;
}

@media only screen and (max-width: 1200px) {
  .calendly-inline-widget {
    width: 100% !important;
  }
  .parent {
    margin: 3rem 5rem;
  }
}

@media only screen and (max-width: 712px) {
  body {
    background-color: #fafafade;
  }

  .parent {
    margin: 4rem 2rem;
    margin-bottom: 14rem;
  }
}
