@import url(_global.css);
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Global Padding */
.section {
  padding: 6rem 3rem;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 6rem 2rem;
  }
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Header Section */
.content {
  max-width: 90rem;
  margin: 4.8rem auto 0 auto;
  text-align: center;
}
@media only screen and (max-width: 1400px) {
  .content {
    max-width: 70%;
  }
}
@media only screen and (max-width: 992px) {
  .content {
    max-width: 90%;
  }
}
.content > * {
  margin-bottom: 4.5rem;
}
.content__title {
  margin-bottom: 2.1rem;
}

/* Hop On Section */
.hop-on__title {
  max-width: 29%;
  display: block;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .hop-on__title {
    max-width: 88%;
  }
}
.hop-on__title:after {
  content: " ";
  display: block;
  height: 0.2rem;
  width: 10rem;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #2a2a2a;
}
.hop-on__img {
  display: block;
  margin: 3rem auto 6rem auto;
  max-width: 90rem;
  height: 94vh;
}
@media only screen and (max-width: 800px) {
  .hop-on__img {
    height: 100%;
    width: 90%;
  }
}
@media only screen and (min-width: 1400px) {
  .hop-on__img {
    max-width: 90rem;
    height: 50vh;
  }
}
.hop-on__time {
  font-size: 1.7rem;
}
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Pricing Section */
.pricing {
  text-align: center;
}
.pricing__title {
  border-radius: 3px;
  padding: 0.7rem 0.7rem;
  background-color: #f0684a;
  display: inline-block;
}
.pricing__subtitle {
  max-width: 45%;
  margin: 3rem auto 0 auto;
}
@media only screen and (max-width: 1008px) {
  .pricing__subtitle {
    max-width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .pricing__subtitle {
    max-width: 97%;
  }
}
.pricing__grid {
  max-width: 110rem;
  margin: auto;
  margin-top: 6rem;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
}
@media only screen and (max-width: 800px) {
  .pricing__grid {
    text-align: center;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
.pricing__item {
  padding: 4rem 2rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 6px #888;
  box-shadow: 0 0 6px #888;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pricing__item > * {
  margin-bottom: 0.7rem;
}
.pricing__item:hover {
  -webkit-box-shadow: 0 0 19px #888;
  box-shadow: 0 0 19px #888;
}
.pricing__Plus {
  background-color: #f1eeedb4;
}
.pricing__pricing {
  font-size: 5.5rem;
  margin-bottom: 1rem;
}
.pricing__monthly {
  border-radius: 4px;
  font-size: 1.4rem;
  color: #fff;
  display: inline-block;
  background-color: #2a2a2a;
  padding: 0.4rem 0.5rem;
}
.pricing__weekly:after {
  content: " ";
  display: block;
  height: 0.2rem;
  width: 4rem;
  background-color: #2a2a2a;
  margin-top: 3.2rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 800px) {
  .pricing__weekly:after {
    margin: auto;
    margin-top: 2rem;
  }
}

.pricing__feature {
  margin: 1.5rem;
  font-size: 1.7rem;
}
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Portfolio Section */
.portfolio {
  text-align: center;
}

.portfolio__subtitle {
  max-width: 50%;
  margin: 3rem auto 0 auto;
  position: relative;
}

@media only screen and (max-width: 1008px) {
  .portfolio__subtitle {
    max-width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .portfolio__subtitle {
    max-width: 97%;
  }
}

.portfolio__grid {
  max-width: 110rem;
  margin: auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  /* THe only change then examples page. */
  grid-gap: 4rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 900px) {
  .portfolio__grid {
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media only screen and (max-width: 500px) {
  .portfolio__grid {
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.portfolio__div {
  box-shadow: #cccccc 0px 0px 20px;
  height: 270px;
  border-radius: 20px;
  overflow: hidden;
}
.portfolio__div img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
/* --------------------------------------- */
/* --------------------------------------- */
/* Features */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
.features {
  text-align: center;
}

.features__subtitle {
  margin-bottom: 4rem;
  color: #2a2a2a;
}

.features__grid {
  max-width: 110rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1150px) {
  .features__grid {
    margin: 0rem 2rem;
    margin-bottom: 4rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.features__item {
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  padding: 3rem 3rem;
  box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 6%);
}

.features__paragraph {
  color: #2a2a2a;
}

.features__subParagraph {
  margin-top: 1.3rem;
  font-size: 1.5rem;
  font-family: ridley_groteskregular;
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Process Section */
.process {
  text-align: center;
}

.process__title {
  padding: 0.7rem 0.7rem;
  display: inline-block;
  /* background-color: #f0684a; */
  border-radius: 3px;
  margin-bottom: 2rem;
  color: #2a2a2a;
}

.process__subtitle {
  font-size: 3.3rem;
  color: #2a2a2a;
  margin-bottom: 4rem;
}

.process__grid {
  max-width: 110rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 4rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 970px) {
  .process__grid {
    margin: 0rem 2rem;
    margin-bottom: 4rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.process__item {
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  padding: 3rem 3rem;
  box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 6%);
}

.process__paragraph {
  color: #2a2a2a;
  font-size: 1.8rem;
}

.process__subParagraph {
  margin-top: 1.3rem;
  font-size: 1.5rem;
  font-family: ridley_groteskregular;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* Additional Services Section */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
.additional {
  text-align: center;
}

.additional__subtitle {
  font-size: 3.3rem;
  color: #2a2a2a;
  margin-bottom: 6rem;
}

.additional__grid {
  max-width: 110rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1150px) {
  .additional__grid {
    margin: 0rem 2rem;
    margin-bottom: 4rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.additional__item {
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  padding: 3rem 3rem;
  box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 6%);
}

.additional__paragraph {
  color: #2a2a2a;
}

.additional__subParagraph {
  margin-top: 1.3rem;
  font-size: 1.5rem;
  font-family: ridley_groteskregular;
  line-height: 1.7;
}

.additional__item > img {
  filter: invert(67%) sepia(46%) saturate(3974%) hue-rotate(323deg)
    brightness(90%) contrast(110%);
  margin-bottom: 2.5rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Faq Section */

.faq {
  padding-bottom: 0;
}
.faq__grid {
  max-width: 110rem;
  margin: auto;
}
.faq__title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 4rem;
}
.accordion {
  background-color: rgba(245, 243, 243, 0.925);
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  outline: 0;
  transition: 0.4s;
  border-bottom: 1px solid #cac4c4;
  font-family: ridley_grotesksemibold, sans-serif;
  color: #2a2a2a;
  font-size: 1.9rem;
}
.accordion:hover,
.active {
  background-color: #ccc;
}
.panel {
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.panel p {
  font-family: ridley_groteskmedium;
  font-size: 1.8rem;
  padding: 1.2rem 1.8rem;
  margin: 0;
}
.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Upwork Section */

.upwork {
  text-align: center;
}
.upwork__title {
  font-size: 3.5rem;
  margin-bottom: 4rem;
}
.upwork__subtitle {
  font-size: 3rem;
  margin-bottom: 7rem;
}
.upwork__img {
  max-width: 60rem;
  margin: auto;
  margin-bottom: 4rem;
}
.upwork__img img {
  width: 100%;
  height: 100%;
}
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Testimonials Section */
.testimonials__grid {
  max-width: 115rem;
  margin: auto;
}
.testimonials__group {
  display: flex;
}
.testimonilas__img {
  margin-right: 2rem;
}
@media only screen and (max-width: 992px) {
  .testimonials__group {
    flex-direction: column;
  }
  .testimonilas__img {
    margin-right: 0;
  }
}
.testimonilas__img img {
  width: 100%;
  height: 100%;
}
#testimonilas__top {
  margin-bottom: 2rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Pushing Section */
.pushing {
  padding-top: 0;
}
.pushing__title {
  font-size: 4rem;
}
@media only screen and (max-width: 423px) {
  .pushing__title {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
.pushing__grid {
  margin: auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 14rem;
}
@media only screen and (max-width: 800px) {
  .pushing__grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    max-width: 100%;
    grid-gap: 6rem;
  }
}
.pushing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.pushing__content > * {
  margin-bottom: 2rem;
}
.pushing__div {
  width: 100%;
  height: 100%;
}
.pushing__img {
  width: 100%;
  display: block;
  height: 100%;
}
.pushing__btn:link,
.pushing__btn:visited {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 4rem;
  padding: 0.8rem 1.6rem;
  font-size: 2.8rem;
}
@media only screen and (max-width: 373px) {
  .pushing__btn:link,
  .pushing__btn:visited {
    margin-right: 0;
    align-self: center;
  }
}
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Footer Section */
.footer {
  background-color: #fff;
  margin-top: 6rem;
  padding: 3rem 0 2rem 0;
  background-color: #333;
  color: #f7f7f7;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  max-width: 110rem;
  margin: auto;
}
#footer__bottom {
  max-width: 110rem;
  margin: auto;
  padding-bottom: 1.5rem;
  /* border-bottom: 1px solid #8a8888 !important; */
}
.footer p {
  color: #2a2a2a;
  color: #f7f7f7;
}
.footer__terms {
  margin: 1rem 0;
  font-family: ridley_groteskmedium;
  font-size: 1.3rem;
}
.footer__terms a {
  text-decoration: none;
  color: #2a2a2a;
  color: #f7f7f7;
}
.footer__title {
  color: #2a2a2a;
  color: #f7f7f7;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.footer__description {
  font-family: ridley_groteskregular;
  font-size: 1.2rem;
  max-width: 50rem;
  line-height: 1.7;
}
.footer__rights {
  text-align: center;
  font-family: ridley_groteskregular;
  font-size: 1.2rem;
}
@media only screen and (max-width: 1120px) {
  .footer {
    padding: 3rem 3rem 2rem 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .footer__top {
    flex-direction: column;
  }
  .footer__description {
    margin-bottom: 1.4rem;
  }
  #footer__bottom {
    padding-top: 1.5rem;
  }
}
