/* Home Page Styling */
@import url(./_global.css);

/* /////////////////////////////////////// */
/* Global Styling */
/* /////////////////////////////////////// */
.section {
  padding: 6rem 3rem;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 6rem 2rem;
  }
}

/* Header Content */
.content {
  max-width: 90rem;
  margin: 4.8rem auto 0rem auto;
  text-align: center;
}
@media only screen and (max-width: 1400px) {
  .content {
    max-width: 70%;
  }
}
@media only screen and (max-width: 992px) {
  .content {
    max-width: 90%;
  }
}
.content > * {
  margin-bottom: 4.5rem;
}
.content__title {
  margin-bottom: 2.1rem;
}
.hop-on__title {
  max-width: 25%;
  display: block;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .hop-on__title {
    max-width: 88%;
  }
}
.hop-on__title:after {
  content: " ";
  display: block;
  height: 0.2rem;
  width: 10rem;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #2a2a2a;
}
.hop-on__img {
  display: block;
  margin: 3rem auto 6rem auto;
  max-width: 90rem;
  height: 94vh;
}
@media only screen and (max-width: 800px) {
  .hop-on__img {
    height: 100%;
    width: 90%;
  }
}
@media only screen and (min-width: 1400px) {
  .hop-on__img {
    max-width: 90rem;
    height: 50vh;
  }
}
.hop-on__time {
  font-size: 1.7rem;
}
/* /////////////////////////////////////// */
/* PRICING */
/* /////////////////////////////////////// */

.pricing {
  text-align: center;
}
.pricing__title {
  border-radius: 3px;
  padding: 0.7rem 0.7rem;
  background-color: #f0684a;
  display: inline-block;
}
.pricing__subtitle {
  max-width: 45%;
  margin: 3rem auto 0rem auto;
}
@media only screen and (max-width: 1008px) {
  .pricing__subtitle {
    max-width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .pricing__subtitle {
    max-width: 97%;
  }
}
.pricing__grid {
  max-width: 110rem;
  margin: auto;
  margin-top: 6rem;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
}
@media only screen and (max-width: 800px) {
  .pricing__grid {
    text-align: center;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
.pricing__item {
  padding: 4rem 2rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 6px #888888;
  box-shadow: 0px 0px 6px #888888;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pricing__item > * {
  margin-bottom: 0.7rem;
}
.pricing__item:hover {
  -webkit-box-shadow: 0px 0px 19px #888888;
  box-shadow: 0px 0px 19px #888888;
}
.pricing__Plus {
  background-color: #f1eeedb4;
}
.pricing__pricing {
  font-size: 5.5rem;
  margin-bottom: 1rem;
}
.pricing__monthly {
  border-radius: 4px;
  font-size: 1.4rem;
  color: #ffffff;
  display: inline-block;
  background-color: #2a2a2a;
  padding: 0.4rem 0.5rem;
}
.pricing__weekly:after {
  content: " ";
  display: block;
  height: 0.2rem;
  width: 4rem;
  background-color: #2a2a2a;
  margin-top: 3.2rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 800px) {
  .pricing__weekly:after {
    margin: auto;
    margin-top: 2rem;
  }
}
.portfolio {
  text-align: center;
}
.portfolio__subtitle {
  max-width: 50%;
  margin: 3rem auto 0rem auto;
  position: relative;
}
@media only screen and (max-width: 1008px) {
  .portfolio__subtitle {
    max-width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .portfolio__subtitle {
    max-width: 97%;
  }
}
.portfolio__grid {
  max-width: 110rem;
  margin: auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
}
@media only screen and (max-width: 800px) {
  .portfolio__grid {
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
.portfolio__div {
  height: 270px;
  border-radius: 20px;
  overflow: hidden;
}
.portfolio__img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.portfolio__img:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}
.portfolio__modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.portfolio__modal.open {
  opacity: 1;
  pointer-events: all;
}
.portfolio__full-img {
  position: absolute;
  height: 90%;
  grid-gap: 4rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
@media only screen and (max-width: 510px) {
  .portfolio__full-img {
    height: 40%;
    width: 92%;
  }
}
.portfolio__full-img.open {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
/* /////////////////////////////////////// */
/* TESTIMONILS */
/* /////////////////////////////////////// */

.testimonials {
  text-align: center;
}
.testimonials__subtitle {
  max-width: 50%;
  margin: 3rem auto 0rem auto;
}
@media only screen and (max-width: 1008px) {
  .testimonials__subtitle {
    max-width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .testimonials__subtitle {
    max-width: 97%;
  }
}
.testimonials__grid {
  max-width: 110rem;
  margin: auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
@media only screen and (max-width: 800px) {
  .testimonials__grid {
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
.testimonials__item {
  -webkit-box-shadow: 0px 0px 9px #888888;
  box-shadow: 0px 0px 9px #888888;
  border-radius: 15px;
  background-color: #eeeeee;
  padding: 5rem 2rem 3rem 2rem;
  text-align: left;
  position: relative;
  z-index: -1;
}
.testimonials__item:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: 8px;
  left: 15px;
  color: #2a2a2a;
}
.testimonials__paragraph {
  color: #2a2a2a;
  margin-bottom: 4rem;
}
.testimonials__user,
.testimonials__description {
  color: #2a2a2a;
}
.pushing__title {
  font-size: 4rem;
}
@media only screen and (max-width: 423px) {
  .pushing__title {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
.pushing__grid {
  margin: auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 14rem;
}
@media only screen and (max-width: 800px) {
  .pushing__grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    max-width: 100%;
    grid-gap: 6rem;
  }
}
.pushing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.pushing__content > * {
  margin-bottom: 2rem;
}
.pushing__div {
  width: 100%;
  height: 100%;
}
.pushing__img {
  width: 100%;
  display: block;
  height: 100%;
}
.pushing__btn:link,
.pushing__btn:visited {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 4rem;
  padding: 1rem 2rem;
  font-size: 3.2rem;
}
@media only screen and (max-width: 373px) {
  .pushing__btn:link,
  .pushing__btn:visited {
    margin-right: 0rem;
    padding: 0.8rem 1.7rem;
    font-size: 2.7rem;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

/* /////////////////////////////////////// */
/* FOOTER */
/* /////////////////////////////////////// */

.footer {
  background-color: #2a2a2a;
  margin-top: 6rem;
  padding: 3rem 0rem 2rem 0rem;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #8a8888;
  padding-bottom: 1.5rem;
  max-width: 110rem;
  margin: auto;
}

.footer p {
  color: white;
}

.footer__terms {
  margin: 1rem 0rem;
  font-family: "ridley_groteskmedium";
  font-size: 1.3rem;
}

.footer__terms a {
  text-decoration: none;
  color: white;
}

.footer__title {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer__description {
  font-family: "ridley_groteskregular";
  font-size: 1.2rem;
  max-width: 50rem;
  line-height: 1.7;
}

.footer__rights {
  text-align: center;
  font-family: "ridley_groteskregular";
  font-size: 1.2rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 1120px) {
  .footer {
    padding: 3rem 3rem 2rem 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .footer__top {
    flex-direction: column;
  }

  .footer__description {
    margin-bottom: 1.4rem;
  }
}
