@import url(_global.css);
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Global Padding */
.section {
  padding: 6rem 3rem;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 6rem 2rem;
  }
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Header Section */
.content {
  max-width: 90rem;
  margin: 4.8rem auto 0 auto;
  text-align: center;
}
@media only screen and (max-width: 1400px) {
  .content {
    max-width: 70%;
  }
}
@media only screen and (max-width: 992px) {
  .content {
    max-width: 90%;
  }
}
.content > * {
  margin-bottom: 4.5rem;
}
.content__title {
  margin-bottom: 2.1rem;
}

/* Hop On Section */
.hop-on__title {
  max-width: 29%;
  display: block;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .hop-on__title {
    max-width: 88%;
  }
}
.hop-on__title:after {
  content: " ";
  display: block;
  height: 0.2rem;
  width: 10rem;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #2a2a2a;
}
.hop-on__img {
  display: block;
  margin: 2rem auto 6rem auto;
  max-width: 90rem;
  height: 94vh;
}
@media only screen and (max-width: 800px) {
  .hop-on__img {
    height: 100%;
    width: 90%;
  }
}
@media only screen and (min-width: 1400px) {
  .hop-on__img {
    max-width: 90rem;
    height: 50vh;
  }
}
.hop-on__time {
  font-size: 1.7rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Entire Process Section */
.entire__title {
  font-size: 3.6rem;
  word-spacing: -5px;
}

@media only screen and (max-width: 423px) {
  .entire__title {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
.entire__paragraph{
  color: #5b7070;
}

.entire__grid {
  margin: auto;
  max-width: 115rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 7rem;
}

@media only screen and (max-width: 1100px) {
  .entire__grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    max-width: 100%;
    grid-gap: 6rem;
  }
}

.entire__content {
  display: flex;
  flex-direction: column;
}

.entire__div {
  width: 100%;
  height: 100%;
}

.entire__img {
  width: 100%;
  display: block;
  height: 100%;
}

.icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: contain;
  position: relative
}

.ftPoint {
  display: flex;
  margin-top: 30px;
  max-width: 600px
}

.ftPoint .icon,
.ftPoint .iconWrapper {
  margin-right: 15px;
  margin-top: 4px
}

.ftPoint .iconWrapper .icon {
  margin: 0
}

.ftPoint__meta {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 50px);
  text-align: left
}

.ftPoint__title {
  font-size: 2.3rem;
}

.ftPoint__description>p{
  color: #5b7070;
  font-family: ridley_groteskmedium;
  font-size: 1.7rem;
  margin-top: .3rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Pricing Section */
.pricing {
  text-align: center;
  padding: 6rem 3rem;
}
/* Not Using Global Padding for this. */
@media only screen and (max-width: 768px) {
  .pricing {
    padding: 6rem 0rem;
  }
}
.pricing__title {
  border-radius: 3px;
  padding: 0.7rem 0.7rem;
  background-color: #f0684a;
  display: inline-block;
}
.pricing__subtitle {
  max-width: 65%;
  font-size: 4rem;
  margin: 3rem auto 2rem auto;
}

.pricing__alert{
 font-size: 2rem;
}

@media only screen and (max-width: 1008px) {
  .pricing__subtitle {
    max-width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .pricing__subtitle {
    max-width: 97%;
  }
}
.pricing__grid {
  max-width: 110rem;
  margin: auto;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
}
@media only screen and (max-width: 800px) {
  .pricing__grid {
    text-align: center;
    max-width: 100%;
    /* grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); */
  }
}
.pricing__item {
  padding: 2rem 2rem;
  border-radius: 8px;
  /* -webkit-box-shadow: 0 0 6px #888; */
  /* box-shadow: 0 0 6px #888; */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pricing__item > * {
  margin-bottom: 0.7rem;
}
.pricing__plan{
  font-size: 2rem;
}
.pricing__weekly {
  font-size: 2rem;
  color: #5b7070;
}
.pricing__pricing {
  font-family: ridley_grotesksemibold, sans-serif;
  font-size: 3.5rem;
}
.pricing__monthly {
  border-radius: 4px;
  font-size: 1.4rem;
  color: #fff;
  display: inline-block;
  background-color: #3f3e3e;
  padding: 0.4rem 0.5rem;
}
.pricing__plan,.pricing__weekly,.pricing__pricing,.pricing__monthly{
  margin-bottom: .6rem;
}

@media only screen and (max-width: 1120px) {
  .pricing__plan,.pricing__weekly
  { 
      font-size: 1.8rem;
  }
  .pricing__pricing{
      font-size: 2.5rem;
  }
  .pricing__monthly{
    font-size: 1.3rem;
  }
}

.pricing__feature {
  margin: 1.5rem;
  border-bottom: 1px solid #d9d7d6b4;
  padding: .5rem 0rem;
  font-size: 1.7rem;
}
.pricing__Hidden{
  visibility: hidden;
}


/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* PRicing toggle */
.toggle,
.toggler {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  margin-top: 10rem;
}

@media only screen and (max-width: 1120px) {
  .toggle,
  .toggler {
    margin: 4px;
    margin-top: 10rem;
  }
}

.toggler {
  color: #ddd;
  transition: .2s;
  font-size: 1.75rem;
}

@media only screen and (max-width: 1120px) {
.toggler {
    font-family: ridley_grotesksemibold, sans-serif;
    font-size: 1.5rem;
  }
}

.toggler--is-active {
  color: #2A2A2A;
}

.b {
  display: block;
}

.toggle {
  position: relative;
  width: 42px;
  height: 20px;
  border-radius: 100px;
  background-color: #2A2A2A;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 1120px) {
  .toggle {
    width: 35px;
    height: 17px;
  }
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.check:checked~.switch {
  right: 2px;
  left: 57.5%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  /* //transition-delay: .08s, 0s; */
}

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 57.5%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  /* //transition-delay: 0s, .08s; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.pricing-section {
  padding: 110px 0 150px 0;
  float: left;
  width: 100%;
  text-align: center;
}

.hide {
  display: none;
}


/* //////////////////////////////////// */
/* //////////////////////////////////// */
/* //////////////////////////////////// */
/* //////////////////////////////////// */
/* Pricing Table Styling. */
.pricingTableWrapper {
  overflow: auto;
  width: 100%;
  max-width: 100rem;
  margin: auto;
  margin-top: 2.6rem;
}

.pricingTable {
  border-collapse: collapse;
  overflow-x: scroll;
  width: 100%
}

.pricingTable th {
  font-size: 1.2em
}

.pricingTable td,
.pricingTable th {
  min-width: 120px;
  text-align: center;
  width: 230px
}

@media only screen and (max-width: 1120px) {

  .pricingTable td,
  .pricingTable th {
    min-width: 150px;
  }
}

.pricingTable td {
  border-bottom: 1px solid #7e7e7e34;
  border-color: var(--pricing-border-color);
  font-size: 1.7rem;
  padding: 1.5rem 0rem 1.5rem 1rem;
}

@media only screen and (max-width: 1120px) {
  .pricingTable td {
    font-family: ridley_groteskmedium;
    font-size: 1.4rem;
  }
}

.pricingTable td:first-child {
  text-align: left
}

.pricingTable tr:last-child td {
  border-bottom: none
}

.pricingTable tr.description td {
  font-size: 1em
}

.pricingTable tr.price td {
  border-bottom: none;
  font-size: 2em;
  padding-bottom: 0;
  padding-top: 0
}

.pricingTable tr.interval td {
  font-size: .9em;
  padding-top: 2px
}

.pricingTable .btn {
  font-size: 1em
}

.pricingTable td svg {
  vertical-align: middle;
  width: 20px
}

.pricingTableCtas td {
  padding-top: 16px
}

.pricingTable .tooltip svg {
  height: 20px;
  margin-left: 4px;
  opacity: .6;
  vertical-align: middle;
  width: 20px
}

.pricingTable .interval .b,
.pricingTable .price .b,
.pricingTable.active-b .interval .a,
.pricingTable.active-b .price .a {
  display: none
}

.pricingTable.active-b .interval .b,
.pricingTable.active-b .price .b {
  display: block
}

.pricingTable tr.price td {
  border-bottom: none;
  font-size: 2em;
  padding-bottom: 0;
  padding-top: 0
}

.pricingTable .interval .b,
.pricingTable .price .b,
.pricingTable.active-b .interval .a,
.pricingTable.active-b .price .a {
  display: none
}

.pricingTable.active-b .interval .b,
.pricingTable.active-b .price .b {
  display: block
}

.pricingTable tr.interval td {
  font-size: .9em;
  padding-top: 2px
}



.pricingTable .interval .b,
.pricingTable .price .b,
.pricingTable.active-b .interval .a,
.pricingTable.active-b .price .a {
  display: none
}

.pricingTable.active-b .interval .b,
.pricingTable.active-b .price .b {
  display: block
}

.tooltip {
  position: relative
}

.tooltip span {
  font-family: ridley_groteskregular;
  background: #343538;
  border-radius: 5px;
  color: #fff;
  display: none;
  font-size: 16px;
  line-height: 18px;
  padding: 8px 12px;
  top: -10px;
  width: 200px
}

.tooltip span,
.tooltip span:before {
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -100%)
}

.tooltip span:before {
  border: 6px solid transparent;
  border-top-color: #343538;
  content: "";
  height: 0;
  margin-left: 2px;
  top: 0;
  width: 0
}

.tooltip:hover span {
  display: block
}

.tooltip--right span:before {
  border-right-color: #343538;
  border-top-color: transparent;
  left: -6px;
  margin-top: 6px;
  top: 50%
}

.tooltip--right span {
  left: 100%;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%)
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Portfolio Section */
.portfolio {
  text-align: center;
}

.portfolio__subtitle {
  max-width: 50%;
  margin: 3rem auto 0 auto;
  position: relative;
}

@media only screen and (max-width: 1008px) {
  .portfolio__subtitle {
    max-width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .portfolio__subtitle {
    max-width: 97%;
  }
}

.portfolio__grid {
  max-width: 110rem;
  margin: auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  /* THe only change then examples page. */
  grid-gap: 4rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 900px) {
  .portfolio__grid {
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media only screen and (max-width: 500px) {
  .portfolio__grid {
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.portfolio__div {
  box-shadow: #cccccc 0px 0px 20px;
  height: 270px;
  border-radius: 20px;
  overflow: hidden;
}
.portfolio__div img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
/* --------------------------------------- */
/* --------------------------------------- */
/* Features */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
.features {
  text-align: center;
}
.additional__alert {
  font-family: ridley_groteskregular;
  font-size: 1.5rem;
}

.features__subtitle {
  margin-bottom: 4rem;
  color: #2a2a2a;
}

.features__grid {
  max-width: 110rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1150px) {
  .features__grid {
    margin: 0rem 2rem;
    margin-bottom: 4rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.features__item {
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  padding: 3rem 3rem;
  box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 6%);
}

.features__paragraph {
  color: #2a2a2a;
}

.features__subParagraph {
  margin-top: 1.3rem;
  font-size: 1.5rem;
  font-family: ridley_groteskregular;
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Process Section */
.process {
  text-align: center;
}

.process__title {
  padding: 0.7rem 0.7rem;
  display: inline-block;
  /* background-color: #f0684a; */
  border-radius: 3px;
  margin-bottom: 2rem;
  color: #2a2a2a;
}

.process__subtitle {
  font-size: 3.3rem;
  color: #2a2a2a;
  margin-bottom: 4rem;
}

.process__grid {
  max-width: 90rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 4rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 970px) {
  .process__grid {
    margin: 0rem 2rem;
    margin-bottom: 4rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.process__item {
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  padding: 3rem 3rem;
  box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 6%);
}

.process__paragraph {
  color: #2a2a2a;
  font-size: 1.8rem;
}

.process__subParagraph {
  margin-top: 1.3rem;
  font-size: 1.5rem;
  font-family: ridley_groteskregular;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* Additional Services Section */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
.additional {
  text-align: center;
}

.additional__subtitle {
  font-size: 3.3rem;
  color: #2a2a2a;
  margin-bottom: 1.5rem;
}

.additional__alert {
  margin-bottom: 4rem;
}

.additional__grid {
  max-width: 110rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 4rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1150px) {
  .additional__grid {
    margin: 0rem 2rem;
    margin-bottom: 4rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.additional__item {
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  padding: 3rem 3rem;
  box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 6%);
}

.additional__paragraph {
  color: #2a2a2a;
}

.additional__subParagraph {
  margin-top: 1.3rem;
  font-size: 1.5rem;
  font-family: ridley_groteskregular;
  line-height: 1.7;
}

.additional__item > img {
  filter: invert(67%) sepia(46%) saturate(3974%) hue-rotate(323deg)
    brightness(90%) contrast(110%);
  margin-bottom: 2.3rem;
  width: 5rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Faq Section */

.faq {
  padding-bottom: 0;
}
.faq__grid {
  max-width: 90rem;
  margin: auto;
}
.faq__title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 4rem;
}
.accordion {
  background-color: rgba(245, 243, 243, 0.925);
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  outline: 0;
  transition: 0.4s;
  border-bottom: 1px solid #cac4c4;
  font-family: ridley_grotesksemibold, sans-serif;
  color: #2a2a2a;
  font-size: 1.9rem;
}
.accordion:hover,
.active {
  background-color: #ccc;
}
.panel {
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.panel p {
  font-family: ridley_groteskmedium;
  font-size: 1.8rem;
  padding: 1.2rem 1.8rem;
  margin: 0;
}
.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Upwork Section */

.upwork {
  text-align: center;
}
.upwork__title {
  font-size: 3.5rem;
  margin-bottom: 4rem;
}
.upwork__subtitle {
  font-size: 3rem;
  margin-bottom: 7rem;
}
.upwork__img {
  max-width: 60rem;
  margin: auto;
  margin-bottom: 4rem;
}
.upwork__img img {
  width: 100%;
  height: 100%;
}
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Testimonials Section */
.testimonials__grid {
  max-width: 115rem;
  margin: auto;
}
.testimonials__group {
  display: flex;
}
.testimonilas__img {
  margin-right: 2rem;
}
@media only screen and (max-width: 992px) {
  .testimonials__group {
    flex-direction: column;
  }
  .testimonilas__img {
    margin-right: 0;
  }
}
.testimonilas__img img {
  width: 100%;
  height: 100%;
}
#testimonilas__top {
  margin-bottom: 2rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Pushing Section */
.pushing {
  padding-top: 0;
}
.pushing__title {
  font-size: 4rem;
}
@media only screen and (max-width: 423px) {
  .pushing__title {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
.pushing__grid {
  margin: auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 14rem;
}
@media only screen and (max-width: 800px) {
  .pushing__grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    max-width: 100%;
    grid-gap: 6rem;
  }
}
.pushing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.pushing__content > * {
  margin-bottom: 2rem;
}
.pushing__div {
  width: 100%;
  height: 100%;
}
.pushing__img {
  width: 100%;
  display: block;
  height: 100%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* +++++++++++++++++++++++++++++++++++++++++++++= */
/* Footer Section */
.footer {
  background-color: #fff;
  margin-top: 6rem;
  padding: 3rem 0 2rem 0;
  background-color: #333;
  color: #f7f7f7;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  max-width: 110rem;
  margin: auto;
}
#footer__bottom {
  max-width: 110rem;
  margin: auto;
  padding-bottom: 1.5rem;
}
.footer p {
  color: #2a2a2a;
  color: #f7f7f7;
}
.footer__terms {
  margin: 1rem 0;
  font-family: ridley_groteskmedium;
  font-size: 1.3rem;
}
.footer__terms a {
  text-decoration: none;
  color: #2a2a2a;
  color: #f7f7f7;
}
.footer__title {
  color: #2a2a2a;
  color: #f7f7f7;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.footer__description {
  font-family: ridley_groteskregular;
  font-size: 1.2rem;
  max-width: 50rem;
  line-height: 1.7;
}
.footer__rights {
  text-align: center;
  font-family: ridley_groteskregular;
  font-size: 1.2rem;
}
@media only screen and (max-width: 1120px) {
  .footer {
    padding: 3rem 3rem 2rem 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .footer__top {
    flex-direction: column;
  }
  .footer__description {
    margin-bottom: 1.4rem;
  }
  #footer__bottom {
    padding-top: 1.5rem;
  }
}

